.button {
  all: unset;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #FBE0DC;
  color: #FF868E;
  cursor: pointer;
}