.imageWrapper {
  position: fixed;
  top: 30px;
  right: 30px;
  bottom: 30px;
  width: 48%;
  border-radius: 20px;
  background: #FBE0DC;
  transition: all .3s;

  img {
    width: 110%;
    height: 110%;
    transform: translate(-5%, -5%);
    object-fit: cover;
  }
}

// Responsive Styles
@media screen and (max-width: 992px) {
  .imageWrapper {
    display: none;
  }
}

// Dark Mode Styles
.imageWrapper.dark {
  background: #FFFFFF0D;
}